html {
    font-family: 'Calibri', sans-serif;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: 100%;
    background-color: #d7dfee;
}

.game-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #f0f8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.game-container h1 {
    margin-bottom: 1rem;
    color: #134faf;
    font-family: 'Courier New', Courier, monospace;
}
.game-container p#quote {
    font-style: italic;
    word-wrap: break-word;
    margin-bottom: 1rem;
    color: #1b1b1b;
    background-color: #c7dbff;
    padding: 1rem;
    border-radius: 10px;
}

.word-display {
    margin-bottom: 1rem;
    display: flex;
    gap: 3rem;
}

.word-display input, .word-display button {
    padding: 0.5rem;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.word-display button {
    cursor: pointer;
    background-color: #134faf;
    color: white;
    transition: all 0.3s ease;
}
.word-display button:hover {
    background-color: #0d357a;
}

.highlight {
  background-color: yellow;
}

.error {
  background-color: lightcoral;
  border: red;
}

@media (max-width: 768px) {
    body {
        padding: 1rem;
    }
    .game-container {
        width: 90%;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .game-container {
        padding: 1rem;
    }
    .word-display {
        flex-direction: column;
        gap: 1rem;
    }
}